<div class="card card-sm card-border bg-base-100 w-96 shadow-sm hover:shadow-md relative">
    {% if user.profile.role == "teacher" %}
    <div class="absolute top-2 right-2">
        {% include "base/partials/delete_course_form.html" with course=course %}
    </div>
    {% endif %}

    <a href="{% url 'course' course.id %}" class="block">
        <div class="card-body">
            <span class="card-title">{{ course.title }}</span>
            <p>{{ course.description }}</p>
        </div>
    </a>
</div>