<form method="POST" hx-post="{% url 'submit-course-topic-form' %}" hx-target="#topic-list-{{ unit.id }}"
  hx-swap="outerHTML" hx-on="htmx:afterRequest: document.getElementById('modal-wrapper').checked = false">
  {% csrf_token %}
  <input type="hidden" name="unit_id" value="{{ unit.id }}">

  <div class="form-control mb-4">
    {{ form.topic }}
  </div>

  <div class="modal-action">
    <button type="submit" class="btn btn-primary">Assign</button>
    <label for="modal-wrapper" class="btn">Cancel</label>
  </div>
</form>