asgiref==3.8.1
beautifulsoup4==4.13.4
bleach==6.2.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
Django==5.2
django-markdownify==0.9.5
Markdown==3.8
Pygments==2.19.1
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.3
tinycss2==1.4.0
urllib3==2.4.0
webencodings==0.5.1