<!-- Add new topic -->
<div id="add-topic-form-{{ unit.id }}" class="hidden-form">
    <form method="POST" class="flex-center-gap">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="topic">
        <input type="hidden" name="unit_id" value="{{ unit.id }}">

        <input type="text" name="title" placeholder="Topic title" required>
        <input type="text" name="description" placeholder="Description" required>

        <button type="submit">Create</button>
        <button type="button" onclick="toggleForm('add-topic-form-{{ unit.id }}')" class="cancel-button">Cancel</button>
    </form>
</div>