<div class="flex flex-row gap-4 items-center justify-between">
    <!-- Unit Card -->
    <div class="collapse collapse-arrow bg-base-200 unit-collapse" id="unit-{{ unit.id }}">
        <input type="checkbox" class="unit-toggle" />
        <div class="collapse-title font-medium flex justify-between items-center gap-4">
            <div class="flex items-center gap-4">

                <!-- Circle icon for Unit number -->
                <div class="flex items-center justify-center bg-primary text-primary-content font-bold text-sm"
                    style="width: 2.5rem; height: 2.5rem; border-radius: 9999px;">
                    {{ unit.order }}
                </div>

                <!-- Unit title and description -->
                <div class="flex flex-col">
                    <span class="text-base font-semibold">{{ unit.title }}</span>

                    {% if user.profile.role == "student" %}
                    <span class="text-xs text-base-content/70">Progress: {{ unit.progress }}%</span>
                    {% endif %}
                </div>
            </div>
        </div>


        <!-- Topic Cards + Add Topic Button -->
        <div class="collapse-content">

            <!-- Topic Cards -->
            <div id="topic-list-{{ unit.id }}">
                {% include "base/partials/topic_list.html" with unit=unit %}
            </div>

            <!-- Add Topic Button -->
            <div class="flex justify-center">
                <button hx-get="{% url 'get_topic_form' unit.id %}" hx-target="#modal-body" hx-swap="innerHTML"
                    class="btn btn-primary rounded-full px-6 text-base"
                    onclick="document.getElementById('shared-modal').checked = true">
                    + Topic
                </button>
            </div>
            
        </div>
    </div>

    <!-- Delete Unit -->
    <div>
        {% include "base/components/delete_unit_form.html" %}
    </div>
</div>