<details class="block-margin" id="unit-{{ unit.id }}">
    <summary>
        <strong>Unit {{ unit.order }}: {{ unit.title }}</strong> - Progress: {{ unit.progress }}%

        <!-- Deletes a unit -->
        {% if user.profile.role == "teacher" %}
        {% include "base/components/delete_unit_form.html" with unit=unit %}
        {% endif %}

    </summary>

    <div class="details-body">
        {% for topic in unit.topic_set.all %}
        {% include "base/components/topic_block.html" with topic=topic %}
        {% endfor %}

        <!-- Display message if no topics exist -->
        {% if unit.topic_set.count == 0 %}
        <p class="empty-message">No topics available for this unit.</p>
        {% endif %}
        
        <!-- Add Topic Button -->
        {% if user.profile.role == "teacher" %}
        <button onclick="toggleForm('add-topic-form-{{ unit.id }}')" class="link-button">
            ➕ Add Topic
        </button>
        {% include "base/components/add_topic_form.html" %}
        {% endif %}
    </div>
</details>