<div class="flex flex-row gap-4 items-center justify-between">
    <!-- Topic Card (collapsible) -->
    <div class="flex-1">
        <div class="collapse collapse-arrow bg-base-200">
            <input type="checkbox" class="topic-toggle" id="topic-toggle-{{ topic.id }}" />

            <div class="collapse-title flex justify-start items-center gap-4">
                <div class="flex items-center justify-center bg-base-100 text-primary-content font-normal text-md rounded-md"
                    style="width: 2.5rem; height: 2.5rem;">
                    {{ ct.order }}
                </div>
                <div class="flex flex-col">
                    <span class="text-base font-normal">{{ topic.title }}</span>
                </div>
            </div>

            <!-- Activities -->
            <div class="collapse-content">
                <div class="">
                    <ul class="list">
                        {% for activity in ct.activities.all %}
                        {% include "base/components/activity_components/activity_block.html" with activity=activity course_id=course_id %}
                        {% endfor %}
                    </ul>
                    {% if ct.activities.count == 0 %}
                    <p class="text-base-content/70">No activities available for this topic.</p>
                    {% endif %}
                </div>

                <!-- Add Activities -->
                {% if user.profile.role == "teacher" %}
                {% if topic.id %}
                <div class="flex justify-center gap-2 p-4">

                    <!-- DMOJ Exercise Creation -->
                    <button class="btn btn-sm bg-secondary text-secondary-content"
                        hx-get="{% url 'get-dmoj-form' ct.id %}" hx-target="#modal-body" hx-swap="innerHTML"
                        onclick="document.getElementById('modal-wrapper').checked = true">
                        + DMOJ
                    </button>

                    <!-- Quiz Creation -->
                    <label for="modal-wrapper" class="btn btn-sm bg-secondary text-secondary-content"
                        hx-get="{% url 'get-quiz-form' ct.id %}" hx-target="#modal-body" hx-swap="innerHTML">
                        + Quiz
                    </label>

                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Course Topic Deletion Button -->
    <div>
        {% include "base/components/course_topic_components/course_topic_delete_button.html" %}
    </div>

</div>