<div class="flex flex-row gap-4 items-center justify-between">
    <!-- Topic Card (collapsible) -->
    <div class="flex-1">
        <div class="collapse collapse-arrow bg-base-200">
            <input type="checkbox" class="topic-toggle" id="topic-toggle-{{ topic.id }}" />

            <div class="collapse-title flex flex-row justify-between items-center">

                <div class="flex justify-start items-center gap-4">
                    <!-- Order -->
                    <div class="flex items-center justify-center border border-b-info text-info font-normal text-md rounded-full"
                        style="width: 2.0rem; height: 2.0rem;">
                        {{ ct.order }}
                    </div>

                    <!-- Topic Title -->
                    <div class="flex flex-row justify-evenly items-center">
                        <span class="text-base font-normal">{{ topic.title }}</span>
                    </div>
                </div>

                <!-- Progress -->
                 {% if user.profile.role == "student" %}
                <div class="flex flex-col items-end gap-y-2">
                    <progress class="progress progress-accent h-2 w-48" value="{{ ct.progress.0 }}" max="{{ ct.progress.1 }}"></progress>
                    <div class="text-xs text-accent/70">
                        {{ ct.progress.0 }} / {{ ct.progress.1 }} completed
                    </div>
                </div>
                {% endif %}
            </div>

            <!-- Activities -->
            <div class="collapse-content">
                <div>
                    <ul class="list">
                        {% for activity in ct.activities.all %}
                        {% include "base/components/activity_components/activity_block.html" with activity=activity course_topic=ct course_id=course_id %}
                        {% endfor %}
                    </ul>
                    {% if ct.activities.count == 0 %}
                    <p class="text-base-content/70">No activities available for this topic.</p>
                    {% endif %}
                </div>

                <!-- Add Activities -->
                {% if user.profile.role == "teacher" %}
                {% if topic.id %}
                <div class="flex justify-center gap-2 p-2">

                    <!-- Lesson Creation -->
                    <a href="{% url 'create-lesson' ct.id %}" class="btn btn-outline btn-secondary btn-sm">
                        + Lesson
                    </a>

                    <!-- DMOJ Exercise Creation -->
                    <button class="btn btn-outline btn-secondary btn-sm" hx-get="{% url 'get-dmoj-form' ct.id %}"
                        hx-target="#modal-body" hx-swap="innerHTML"
                        onclick="document.getElementById('modal-wrapper').checked = true">
                        + DMOJ
                    </button>

                    <!-- Quiz Creation -->
                    <button class="btn btn-outline btn-secondary btn-sm" hx-get="{% url 'get-quiz-form' ct.id %}"
                        hx-target="#modal-body" hx-swap="innerHTML"
                        onclick="document.getElementById('modal-wrapper').checked = true">
                        + Quiz
                    </button>

                    <!-- Code Question Creation -->
                    <button class="btn btn-outline btn-secondary btn-sm"
                        hx-get="{% url 'get-code-question-form' ct.id %}"
                        hx-target="#modal-body"
                        hx-swap="innerHTML"
                        onclick="document.getElementById('modal-wrapper').checked = true">
                        + Code Question
                    </button>





                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Course Topic Deletion Button -->
    <div>
        {% include "base/components/course_topic_components/course_topic_delete_button.html" %}
    </div>

</div>