<form method="POST"
    hx-post="{% if testcase %}{% url 'code-testcase-form' question.id testcase.id %}{% else %}{% url 'code-testcase-form' question.id %}{% endif %}"
    hx-swap="none"
    hx-target="this"
    class="space-y-4"
>
    {% csrf_token %}

    <!-- Pass the testcase ID to the form -->
    {% if testcase %}
    <input type="hidden" name="testcase_id" value="{{ testcase.id }}">
    {% endif %}
    {{ testcase.id }}

    <h3 class="text-lg font-semibold">
        {% if testcase %}Edit{% else %}Add{% endif %} Test Case
    </h3>

    {% for field in form.visible_fields %}
    <div class="form-control">
        <label class="label" for="{{ field.id_for_label }}">
            <span class="label-text">{{ field.label }}</span>
        </label>
        {{ field }}
        {% if field.errors %}
        <div class="text-error text-sm">{{ field.errors|striptags }}</div>
        {% endif %}
    </div>
    {% endfor %}

    <div class="modal-action">
        <button type="submit" class="btn btn-primary">Save</button>
        <label for="modal-wrapper" class="btn">Cancel</label>
    </div>
</form>
