<div class="w-full max-w-3xl mx-auto h-full overflow-y-auto px-4">
    <form method="POST"
        action="{% url post_url question_type question.id %}"
        class="space-y-4 w-full">


        {% csrf_token %}
        {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}" class="block font-semibold text-sm mb-1">
                {{ field.label }}:
            </label>
            {{ field }}
        </div>
        {% endfor %}
        <div class="sticky bottom-0 bg-base-300 pt-4 pb-2 flex gap-4">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn" onclick="document.getElementById('modal-wrapper').checked = false"
>
                Cancel
            </button>
        </div>
    </form>
</div>