<form method="POST" hx-post="{% url 'enrol-in-course' %}" hx-target="#course-list" hx-swap="beforeend"
    hx-trigger="submit" hx-on="htmx:afterRequest: document.getElementById('modal-wrapper').checked = false"
    class="space-y-4">

    {% csrf_token %}
    <h3 class="font-bold text-lg mb-2">Join a Course</h3>

    <div class="form-control">
        {{ form.password }}
    </div>

    <div class="modal-action">
        <button type="submit" class="btn btn-primary">Join</button>
        <label for="modal-wrapper" class="btn">Cancel</label>
    </div>
</form>