<!-- Trigger Button -->
<label for="add-course-modal" class="btn btn-primary">
  <svg class="w-6 h-6 text-primary-content" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
    height="24" fill="none" viewBox="0 0 24 24">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M5 12h14m-7 7V5" />
  </svg>

  Add Course
</label>

<!-- Modal Toggle -->
<input type="checkbox" id="add-course-modal" class="modal-toggle" />

<!-- Modal -->
<dialog class="modal">
  <div class="modal-box">
    <h3 class="text-xl font-semibold mb-2">New Course</h3>

    <form method="POST" class="space-y-4">
      {% csrf_token %}
      <input type="hidden" name="form_type" value="course">

      {{ course_form.title }}
      {{ course_form.language }}
      {{ course_form.enrollment_password }}
      {{ course_form.description }}

      <div class="modal-action">
        <button type="submit" class="btn btn-primary">Create</button>
        <label for="add-course-modal" class="btn">Cancel</label>
      </div>
    </form>
  </div>
</dialog>