<form method="POST" action="{% url 'delete-course' course.id %}" class="inline-form">
    {% csrf_token %}
    <button type="submit" class="btn btn-ghost btn-xs btn-circle text-error hover:bg-error/10"
            onclick="return confirm('Are youj sure you want to delete {{ course.title }}?')">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
             stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
    </button>
</form>