{% extends "main.html" %}

{% block content %}

<div class="max-w-5xl mx-auto px-2">
    <div class="flex justify-between">

        <!-- Course Title -->
        <h1 class="text-base-content">{{ course.title }}</h1>

        <!-- Reorder Content Button (only for teachers)-->
        {% if user.profile.role == "teacher" %}
        <div class="flex justify-start">
            <button class="btn btn-secondary btn-outline btn-sm mr-8" hx-get="{% url 'reorder-modal' course.id %}"
                hx-target="#modal-body" hx-swap="innerHTML"
                onclick="document.getElementById('modal-wrapper').checked = true">
                Reorder Content
            </button>
        </div>
        {% endif %}

        <!-- Refresh DMOJ Progress Button (only for students) -->
        {% if user.profile.role == "student" %}
        <form method="POST" action="{% url 'refresh-dmoj-progress' course.id %}">
            {% csrf_token %}
            <span id="dmoj-cooldown-msg" class="text-xs text-warning ml-2"></span>
            <button id="refresh-dmoj-btn" class="btn btn-accent btn-sm btn-outline ml-4">
                Refresh DMOJ Progress
            </button>
        </form>

        {% endif %}


    </div>

    <!-- Course Unit Cards -->
    <div id="unit-list">
        {% include "base/components/course_unit_components/course_unit_list.html" with course_units=course_units %}
    </div>

    <!-- Add Unit Button -->
    {% if user.profile.role == "teacher" %}
    <div class="flex justify-center">
        <button hx-get="{% url 'get-course-unit-form' course.id %}" hx-target="#modal-body" hx-swap="innerHTML"
            onclick="document.getElementById('modal-wrapper').checked = true"
            class="btn btn-outline btn-info btn-info-text btn-lg px-6">
            + Unit
        </button>
    </div>
    {% endif %}

</div>
{% endblock %}