{% extends "main.html" %}

{% block content %}

<h1>Courses</h1>

<!-- Join Course Button -->
{% if user.profile.role == "student" %}
<div class="mb-4">
    <button class="btn btn-secondary" hx-get="{% url 'get-enrolment-form' %}" hx-target="#modal-body"
        hx-swap="innerHTML" onclick="document.getElementById('modal-wrapper').checked = true">
        + Join a Course
    </button>
</div>
{% endif %}
<div id="enrolment-feedback" class="my-4"></div> <!-- HTMX injects success/failure feedback -->

<!-- List of courses -->
<div id="course-list">
    {% include "base/components/course_components/course_list.html" %}

    <!-- Create New Course -->
    {% if user.profile.role == "teacher" %}
    {% include "base/components/course_components/create_course_form.html" %}
    {% endif %}
    </div>
</div>

{% endblock %}