<!-- base/main/question_bank_base.html -->
{% extends "main.html" %}

{% block content %}
<h1 class="text-2xl font-bold mb-2">{{ title }}</h1>

<div class="flex flex-col h-screen">
  <div id="{{ table_id }}-wrapper">
    {% include table_template with questions=questions row_url_name=row_url_name form_container_id=form_container_id delete_url=delete_url sort_by=sort_by order=order %}
  </div>

  <div id="{{ form_container_id }}" class="mt-2 w-full h-[40vh] border border-red-600">
    {# Form is injected using HTMX #}
  </div>
</div>
{% endblock %}