{% extends "main.html" %}

{% block content %}
<h1 class="text-3xl font-bold mb-6">{{ ct.topic.title }} Quiz</h1>

<div class="overflow-y-auto max-h-[80vh] pr-2">
    <form method="POST" action="" class="space-y-6">
        {% csrf_token %}

        {% for question in questions %}
        <div class="card bg-base-100 shadow-md p-6 space-y-4 mb-4">

            <p class="text-lg font-semibold">
                {{ forloop.counter }}. {{ question.prompt|safe }}
            </p>

            {% if quiz.question_type == "multiple_choice" %}
            {% include "base/components/quiz_components/mc_question_block.html" with question=question %}
            {% elif quiz.question_type == "tracing" %}
            {% include "base/components/quiz_components/tracing_question_block.html" with question=question %}
            {% else %}
            <p class="text-error">Unsupported question type.</p>
            {% endif %}

        </div>
        {% endfor %}


        <button type="submit" class="btn btn-primary w-full mt-6">Submit Quiz</button>
    </form>
</div>
{% endblock %}