{% extends "main.html" %}

{% block content %}
{% load static %}
{% if lesson %}
<div class="space-y-1.5 h-full flex flex-col justify-between p-2">

    <!-- Lesson title -->
    <h1 class="text-3xl font-bold mb-2">{{ lesson.title|safe }}</h1>

    <!-- Mark as completed -->
    <form method="POST" class="flex items-center gap-2">
        {% csrf_token %}
        <label class="flex items-center gap-2 cursor-pointer">
            <input type="checkbox" name="mark_as_complete" onchange="this.form.submit()"
                class="checkbox h-5 w-5 rounded"
                {% if completed %}checked{% endif %}>
            <span class="text-base-content">Mark as completed</span>
        </label>
    </form>

    <!-- Lesson content -->
    <div class="markdown-body">
        {{ lesson_html|safe }}
    </div>


</div>
{% else %}
<p class="text-white dark:text-gray-200">No lesson found.</p>
{% endif %}
{% endblock %}