{% extends "main.html" %}

{% block content %}

<h1>{{ course.title }}</h1>

{% if units %}
<div class="flex flex-col gap-4">
    {% for unit in units %}
        {% include "base/components/unit_block.html" with unit=unit %}
    {% endfor %}
</div>
{% endif %}

<!-- Add New Unit Button -->
{% if user.profile.role == "teacher" %}
<button onclick="toggleForm('add-unit-form')" class="link-button">
    ➕ Add New Unit
</button>
{% include "base/components/add_unit_form.html" %}
{% endif %}
{% endblock %}