{% extends "main.html" %}

{% block content %}

{% if user.profile.role == "student" %}
{% include "base/components/course_enrolment_form.html" %}
{% endif %}

<h2>Courses</h2>

<!-- List of courses -->
{% if courses %}
{% for course in courses %}
<div class="course-card">
    <a href="{% url 'course' course.id %}" class="course-link">
        {{ course.title }} ({{ course.language|title }})
    </a>

    {% if user.profile.role == "teacher" %}
    {% include "base/components/delete_course_form.html" with course=course %}
    {% endif %}
</div>
{% endfor %}
{% else %}
<p class="empty-message">No courses yet.</p>
{% endif %}


<!-- Create New Course -->
{% if user.profile.role == "teacher" %}
<button onclick="toggleForm('add-course-form')" class="link-button">
    ➕ Add New Course
</button>
{% include "base/components/create_course_form.html" %}
{% endif %}

<!-- Upload Questions -->
{% if user.profile.role == "teacher" %}
<h2>Upload Questions</h2>
<div class="course-card">
    {% include "base/components/upload_questions_form.html" %}
</div>
{% endif %}


{% endblock %}