{% extends "main.html" %}

{% block content %}

<h1>{{lesson.title}} Quiz</h1>


<form method="POST" action="">
    {% csrf_token %}

    <div>
        {% for question in questions %}

        <div>
            <h5>{{forloop.counter}}) {{question.prompt|safe}}</h5>

            <div>
                <input type="radio" name="q{{question.id}}" value="a">
                a) {{question.choice_a|safe}}<br>
            </div>
            <div>
                <input type="radio" name="q{{question.id}}" value="b">
                b) {{question.choice_b|safe}}<br>
            </div>
            <div>
                <input type="radio" name="q{{question.id}}" value="c">
                c) {{question.choice_c|safe}}<br>
            </div>
            <div>
                <input type="radio" name="q{{question.id}}" value="d">
                d) {{question.choice_d|safe}}<br>
            </div>
        </div>

        {% endfor %}
    </div>
    <button type="submit">Submit Quiz</button>
</form>

{% endblock %}