{% extends "main.html" %}

{% block content %}

<h1>Your Courses</h1>

{% if courses %}
{% for course in courses %}
<div>
    <strong>{{ course.title }}</strong><br>
    {{ course.description|default:"No description." }}<br>

    <details>
        <summary>{{ course.title }}</summary>
        <div>
            {% for unit in course.unit_set.all %}
            <p>{{ unit.title }}</p>
            {% endfor %}
        </div>
    </details>

</div>
{% endfor %}
<br>
{% else %}
<p>You have no courses yet. Start by creating one!</p>
{% endif %}

<a href="{% url 'create-course' %}" class="btn">+ Create New Course</a>

{% endblock %}