<form method="POST" hx-post="{% url 'submit-dmoj-form' ct.id %}" hx-target="#topic-list-{{ ct.unit.id }}"
    hx-swap="outerHTML" hx-on="htmx:afterRequest: document.getElementById('modal-wrapper').checked = false">

    {% csrf_token %}
    <h3 class="font-bold text-lg mb-4">Add DMOJ Exercise</h3>

    <div class="form-control mb-4">
        {{ form.url }}
    </div>

    <div class="modal-action">
        <button type="submit" class="btn btn-primary">Add</button>
        <label for="modal-wrapper" class="btn">Cancel</label>
    </div>
</form>

{% if messages %}
  <ul class="text-error text-sm mb-2">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
