<li id="activity-{{ activity.id }}"
    class="flex items-center justify-between mb-4 px-4 py-3 bg-base-100 rounded-md hover:bg-info/5">
    <a class="flex items-center gap-4 flex-1" href="{{ activity.content_object.url }}" target="_blank">
        {% if user.profile.role == "teacher" %}
        <div class="flex items-center justify-center bg-primary text-primary-content font-normal text-sm rounded-full"
            style="width: 1.5rem; height: 1.5rem;">
            {{ activity.order }}
        </div>
        {% endif %}

        <!-- Badge -->
        <div class="badge badge-primary">
            <svg class="w-6 h-6 text-primary-content" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                aria-hidden="true">
                <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
                    <path
                        d="M7.4 7H4.6a.6.6 0 0 0-.6.6v8.8a.6.6 0 0 0 .6.6h2.8a.6.6 0 0 0 .6-.6V7.6a.6.6 0 0 0-.6-.6Zm12 0h-2.8a.6.6 0 0 0-.6.6v8.8a.6.6 0 0 0 .6.6h2.8a.6.6 0 0 0 .6-.6V7.6a.6.6 0 0 0-.6-.6Z" />
                    <path
                        d="M1 14.4V9.6a.6.6 0 0 1 .6-.6h1.8a.6.6 0 0 1 .6.6v4.8a.6.6 0 0 1-.6.6H1.6a.6.6 0 0 1-.6-.6Zm22 0V9.6a.6.6 0 0 0-.6-.6h-1.8a.6.6 0 0 0-.6.6v4.8a.6.6 0 0 0 .6.6h1.8a.6.6 0 0 0 .6-.6ZM8 12h8" />
                </g>
            </svg>
            DMOJ Exercise
        </div>

        <!-- Title -->
        <div>
            <div class="font-semibold">{{ activity.content_object.title|striptags }}</div>
        </div>
    </a>

    {% include "base/components/activity_components/delete_activity_form.html" %}
</li>